<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT contentBase ANY>
<!ATTLIST contentBase id ID #REQUIRED>
<!ELEMENT feature ANY>
<!ATTLIST feature id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT navigationBase ANY>
<!ATTLIST navigationBase id ID #REQUIRED>
<!ELEMENT blog ANY>
<!ATTLIST blog id ID #REQUIRED>
<!ELEMENT blogpost ANY>
<!ATTLIST blogpost id ID #REQUIRED>
<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT contentPage ANY>
<!ATTLIST contentPage id ID #REQUIRED>
<!ELEMENT people ANY>
<!ATTLIST people id ID #REQUIRED>
<!ELEMENT person ANY>
<!ATTLIST person id ID #REQUIRED>
<!ELEMENT product ANY>
<!ATTLIST product id ID #REQUIRED>
<!ELEMENT products ANY>
<!ATTLIST products id ID #REQUIRED>
]>
<root id="-1">
  <home id="1106" key="156f1933-e327-4dce-b665-110d62720d03" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-10-15T11:37:11" updateDate="2018-10-15T13:52:12" nodeName="Home" urlName="home" path="-1,1106" isDoc="" nodeType="1096" creatorName="Mikkel Sejersen" writerName="Mikkel Sejersen" writerID="0" template="1064" nodeTypeAlias="home" isPublished="true">
    <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Full Width",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media",
                "macro",
                "embed",
                "headline"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "macroAlias": "latestBlogposts",
                    "macroParamsDictionary": {
                      "numberOfPosts": "3",
                      "startNodeId": "umb://document/1cb33e0a400a49389547b05a35739b8b"
                    }
                  },
                  "editor": {
                    "alias": "macro"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "cbb67dcf-dc82-700a-617f-84e754458e6a"
        }
      ]
    }
  ]
}]]></bodyText>
    <sitename><![CDATA[Mikkel Sejersen]]></sitename>
    <colorTheme>37</colorTheme>
    <font>40</font>
    <HeroBackgroundImage><![CDATA[umb://media/3d758b1f24ec47b0a75c225b0444991b]]></HeroBackgroundImage>
    <footerAddress><![CDATA[Mikkel Sejersen - Njalsgade 21G - 2300 København  - Denmark - +45 2632 6496]]></footerAddress>
    <FooterCtalink><![CDATA[umb://document/1cb33e0a400a49389547b05a35739b8b]]></FooterCtalink>
    <footerHeader><![CDATA[Mikkel Sejersen]]></footerHeader>
    <footerDescription><![CDATA[Mikkel Sejersen is an energetic and proactive young consultant/intern at Kraftvaerk. Mikkel works primarily with backend development and ASP.Net C# and will work in different projects across the company.]]></footerDescription>
    <footerCTACaption><![CDATA[Read All on the Blog]]></footerCTACaption>
    <heroHeader><![CDATA[Mikkel Sejersen]]></heroHeader>
    <heroDescription><![CDATA[Intern at kraftvaerk A/S.
Backend developer.
ASP.net C#.]]></heroDescription>
    <HeroCtalink><![CDATA[umb://document/485343b1d99c4789a676e9b4c98a38d4]]></HeroCtalink>
    <heroCTACaption><![CDATA[Check my portfolio]]></heroCTACaption>
    <contentPage id="1153" key="26f332b2-b520-4f36-a14b-281dca88808b" parentID="1106" level="2" creatorID="0" sortOrder="0" createDate="2018-10-15T14:29:28" updateDate="2018-10-15T14:55:04" nodeName="Portfolio" urlName="portfolio" path="-1,1106,1153" isDoc="" nodeType="1101" creatorName="Mikkel Sejersen" writerName="Mikkel Sejersen" writerID="0" template="1063" nodeTypeAlias="contentPage" isPublished="true">
      <pageTitle><![CDATA[My Portfolio]]></pageTitle>
      <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Full Width",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media",
                "embed",
                "headline",
                "rte",
                "macro"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "Dating Application - OOP/ Serverside programming.",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "fdab5679-c685-7efa-57e4-240c36aa3345"
        },
        {
          "name": "Article",
          "areas": [
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "quote",
                "embed",
                "macro",
                "media",
                "rte"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1151,
                    "udi": "umb://media/7ce63d95ebc140d4a32351ec65eb8ca4",
                    "image": "/media/1033/datingfrontpage.png"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 8,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "macro",
                "embed",
                "headline",
                "quote"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>As a part of the OOP/Server programming course, we had to develop a dating application.</p>\n<p>The only rules in developing the application, was to use object-oriented programming as well as using some sort of database to store data in. I chose to use ASP.net C# with MVC and MSSQL, in which I used Entity Framework.</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ],
              "hasActiveChild": true,
              "active": false
            }
          ],
          "hasConfig": false,
          "id": "d3939864-2e71-f28c-aeb4-b7a705df5307",
          "active": false
        },
        {
          "name": "Full Width",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media",
                "embed",
                "headline",
                "rte",
                "macro"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "NewsPicker - Clientside programming.",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "244792c0-bb21-4990-389d-cd72185efaa3"
        },
        {
          "name": "Article",
          "areas": [
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "quote",
                "embed",
                "macro",
                "media",
                "rte"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1154,
                    "udi": "umb://media/da47c9f637994ba78c6503f983dfd128",
                    "image": "/media/1034/phoneapp.png"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 8,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "macro",
                "embed",
                "headline",
                "quote"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>As a part of Clientside programming we received a case in which we had to develop an application using only Javascript, CSS3 and HTML5. Whatever database we wanted to use, should be client-based. Which meant using something like \"Local Storage\". </p>\n<p>I chose not to use any kind of CSS-stylesheet, which meant I styled everything myself. I used AJAX calls to receive XML-feeds from various news-sites. The site itself is build around RSS-feeds, which meant I had to implement an API to parse the XML. </p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "c304fbf9-2d11-8bf4-537e-fe6612f8f961"
        }
      ]
    }
  ]
}]]></bodyText>
      <umbracoNavihide>0</umbracoNavihide>
      <keywords><![CDATA[[]]]></keywords>
    </contentPage>
    <people id="1116" key="5582ae2f-efa8-422f-a9c9-7ff1c9e8dd85" parentID="1106" level="2" creatorID="0" sortOrder="1" createDate="2018-10-15T11:37:12" updateDate="2018-10-15T12:36:08" nodeName="Who?" urlName="who" path="-1,1106,1116" isDoc="" nodeType="1102" creatorName="Mikkel Sejersen" writerName="Mikkel Sejersen" writerID="0" template="1066" nodeTypeAlias="people" isPublished="true">
      <pageTitle><![CDATA[This guy]]></pageTitle>
      <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Full Width",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media",
                "embed",
                "headline",
                "rte",
                "macro"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p><span>Mikkel Sejersen is an energetic and proactive young consultant/intern at Kraftvaerk. Mikkel works primarily with backend development and ASP.Net C# and will work in different projects across the company. </span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "9d79b215-9897-1304-2df6-61cd1ef50c90"
        }
      ]
    }
  ]
}]]></bodyText>
      <umbracoNavihide>0</umbracoNavihide>
      <keywords><![CDATA[[]]]></keywords>
      <person id="1148" key="a1137eb8-a69a-4a6e-8a69-8757a630601d" parentID="1116" level="3" creatorID="0" sortOrder="0" createDate="2018-10-15T11:58:25" updateDate="2018-10-15T11:58:25" nodeName="Mikkel Sejersen" urlName="mikkel-sejersen" path="-1,1106,1116,1148" isDoc="" nodeType="1103" creatorName="Mikkel Sejersen" writerName="Mikkel Sejersen" writerID="0" template="1067" nodeTypeAlias="person" isPublished="true">
        <umbracoNavihide>0</umbracoNavihide>
        <keywords><![CDATA[[]]]></keywords>
        <photo><![CDATA[umb://media/227d628f66734ac5b18713847c6fc1c7]]></photo>
        <email><![CDATA[Mikkel.Sejersen@kraftvaerk.com]]></email>
        <department><![CDATA[Junior backend-developer]]></department>
        <linkedInUsername><![CDATA[https://www.linkedin.com/in/mikkel-sejersen-0647b778/]]></linkedInUsername>
      </person>
    </people>
    <contentPage id="1122" key="d62f0f1d-e4a9-4093-94ae-4efce18872ee" parentID="1106" level="2" creatorID="0" sortOrder="2" createDate="2018-10-15T11:37:12" updateDate="2018-10-15T13:09:55" nodeName="About Me" urlName="about-me" path="-1,1106,1122" isDoc="" nodeType="1101" creatorName="Mikkel Sejersen" writerName="Mikkel Sejersen" writerID="0" template="1063" nodeTypeAlias="contentPage" isPublished="true">
      <pageTitle><![CDATA[About Me]]></pageTitle>
      <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Full Width",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media",
                "embed",
                "headline",
                "rte",
                "macro"
              ],
              "config": null,
              "styles": null,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Mikkel",
                  "editor": {
                    "alias": "headline"
                  },
                  "styles": null,
                  "config": null,
                  "active": false
                }
              ]
            }
          ],
          "styles": null,
          "config": null,
          "hasConfig": false,
          "id": "295c0639-aea7-219f-3f3c-bb2e7fcd099c"
        },
        {
          "name": "Article",
          "areas": [
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "quote",
                "embed",
                "macro",
                "media",
                "rte"
              ],
              "config": null,
              "styles": null,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "id": 1149,
                    "udi": "umb://media/3fc6658069ba4b83a6c1d6a10160331f",
                    "image": "/media/1032/mikkel-sejersen-1.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 8,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "macro",
                "embed",
                "headline",
                "quote"
              ],
              "config": null,
              "styles": null,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Curabitur aliquet quam id dui posuere blandit. Vivamus suscipit tortor eget felis porttitor volutpat. Proin eget tortor risus. Sed porttitor lectus nibh. Cras ultricies ligula sed magna dictum porta. Pellentesque in ipsum id orci porta dapibus. Pellentesque in ipsum id orci porta dapibus. Nulla porttitor accumsan tincidunt. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</p>\n<p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Curabitur aliquet quam id dui posuere blandit. Vivamus suscipit tortor eget felis porttitor volutpat. Proin eget tortor risus. Sed porttitor lectus nibh. Cras ultricies ligula sed magna dictum porta. Pellentesque in ipsum id orci porta dapibus. Pellentesque in ipsum id orci porta dapibus. Nulla porttitor accumsan tincidunt. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "styles": null,
                  "config": null,
                  "active": false
                }
              ]
            }
          ],
          "styles": null,
          "config": null,
          "hasConfig": false,
          "id": "ea5aec16-412c-26dc-6649-462288d5ad5d"
        }
      ]
    }
  ]
}]]></bodyText>
      <umbracoNavihide>0</umbracoNavihide>
      <keywords><![CDATA[[]]]></keywords>
    </contentPage>
    <blog id="1125" key="1cb33e0a-400a-4938-9547-b05a35739b8b" parentID="1106" level="2" creatorID="0" sortOrder="3" createDate="2018-10-15T11:37:12" updateDate="2018-10-15T11:37:19" nodeName="Blog" urlName="blog" path="-1,1106,1125" isDoc="" nodeType="1098" creatorName="Mikkel Sejersen" writerName="Mikkel Sejersen" writerID="0" template="1060" nodeTypeAlias="blog" isPublished="true">
      <pageTitle><![CDATA[Behind The Scenes]]></pageTitle>
      <bodyText><![CDATA[{"name":"1 column layout","sections":[{"grid":"12","rows":[]}]}]]></bodyText>
      <umbracoNavihide>0</umbracoNavihide>
      <howManyPostsShouldBeShown><![CDATA[2]]></howManyPostsShouldBeShown>
      <blogpost id="1150" key="5b03c2a8-67cc-419d-b0b1-524722142adf" parentID="1125" level="3" creatorID="0" sortOrder="3" createDate="2018-10-15T14:01:41" updateDate="2018-10-15T16:31:26" nodeName="From August to October..." urlName="from-august-to-october" path="-1,1106,1125,1150" isDoc="" nodeType="1099" creatorName="Mikkel Sejersen" writerName="Mikkel Sejersen" writerID="0" template="1061" nodeTypeAlias="blogpost" isPublished="true">
        <umbracoNavihide>0</umbracoNavihide>
        <keywords><![CDATA[[]]]></keywords>
        <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Article",
          "areas": [
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "quote",
                "embed",
                "macro",
                "media",
                "rte"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "id": 1151,
                    "udi": "umb://media/7ce63d95ebc140d4a32351ec65eb8ca4",
                    "image": "/media/1033/datingfrontpage.png"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 8,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "macro",
                "embed",
                "headline",
                "quote"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "Dating Application",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p>As a part of our OOP/ Server programming course we had to develop a dating application using object-oriented programming, and use some sort of database to store data in. <br />I chose to use ASP.net C# with the MVC model to build my application around. I also chose to use ADO.net as the way to utilize SQL in my program. </p>\n<p> </p>\n<p>Fill in more data...</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "ebeed34e-4947-3c0d-6001-b9ed3775983d"
        }
      ]
    }
  ]
}]]></bodyText>
        <excerpt><![CDATA[In the period between August 8th and October the 15th, I have been attending school as a part of my education.]]></excerpt>
        <categories><![CDATA[C#,School]]></categories>
        <pageTitle><![CDATA[H2: August - October ]]></pageTitle>
      </blogpost>
    </blog>
    <contact id="1129" key="71a7e71e-7db2-4b9d-a71c-559b11c683c0" parentID="1106" level="2" creatorID="0" sortOrder="4" createDate="2018-10-15T11:37:12" updateDate="2018-10-15T16:32:24" nodeName="Contact" urlName="contact" path="-1,1106,1129" isDoc="" nodeType="1100" creatorName="Mikkel Sejersen" writerName="Mikkel Sejersen" writerID="0" template="1062" nodeTypeAlias="contact" isPublished="true">
      <umbracoNavihide>0</umbracoNavihide>
      <keywords><![CDATA[[]]]></keywords>
      <contactFormHeader><![CDATA[Send Me A Message]]></contactFormHeader>
      <contactForm><![CDATA[adf160f1-39f5-44c0-b01d-9e2da32bf093]]></contactForm>
      <pageTitle><![CDATA[Let's have a chat]]></pageTitle>
      <contactIntro><![CDATA[<p>Feel free to send me a message and I will do my best to answer in a day or two. </p>]]></contactIntro>
      <apiKey><![CDATA[AIzaSyBSjIm2tkaskXtivVDbvlXcWkP6JDCoqA4]]></apiKey>
      <map><![CDATA[{
  "zoom": 13,
  "position": {
    "id": "WGS84",
    "datum": "55.722894,12.403516"
  }
}]]></map>
      <mapHeader><![CDATA[You'll find us here]]></mapHeader>
    </contact>
  </home>
</root>